body {
    background-color: #f6f8fa!important;
    font-family: monospace, Helvetica, Tahoma, Arial;;
}

/* index */
.about {
    margin-top: 40px;
    width: 100%;
    /* height: 500px; */
    margin-bottom: 20px;
}

.about_left {
    margin-top: 40px;
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

.about_left_icon {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

.about_portrait {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
}

.about_left > h1 {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
    margin-bottom: 30px;
}

.about_left > h2 {
    margin-left: 10%;
    width: 80%;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
}

.about_right {
    padding: 30px 10px;
    position: relative;
}

.about_right > h1 {
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
    margin-bottom: 30px;
}

.about_right > h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
}

.recent {
    background-color:#ffffff;
    padding: 30px 10px;
    margin: 0;
}

.recent-inner {
    margin: 0;
    padding: 0;
}

/* 404.html */
.intro {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.intro > h1 {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
    margin-bottom: 20px;
}

.intro > h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
}

/* Single */

.single-card {
    margin-top: 10px;
}

@media only screen and (max-width: 768px){
    .single-card {
        margin-left: -3%;
        margin-right: -3%;
        margin-top: 10px;
    }
}

.single-content {
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    position:relative;
}

.single-title {
    background-color: #FFFFFF;
    /* margin-top: 20px; */
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.125;
}

.single-related {
    font-size: 20;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
/* Lists */

.list-card {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-title {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
    vertical-align: middle;
}

.list-title-pic {
    max-height:300px;
    max-width:500px;
}

.list-show {
    background-color: #ffffff;
}

.list-show-title {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {

    .list-show {
        display: none;
    }

    .list-show-title {
        text-align: center;
        margin-top: 20px;
    }
}

.tags-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Pager */
.pager {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* nav */

.nav_container {
    border-radius: 0px;
    height: 64px;
}

.nav-self-logo {
    margin-left: 10px;
    width: 200px;
    height: 100%;
    line-height: 60px;
    /* text-align: center; */
    color: #FFFFFF;
    font-size: 24px;
}


@media only screen and (max-width: 768px) {
    #nav_big {
        display: none;
    }

    #nav_small {
        display: inline-block;
    }
    
}

@media only screen and (min-width: 768px) {
    #nav_big {
        display: inline-block;
    }

    #nav_small {
        display: none;
    }
}

/* Footer */
footer {
    /* background-color: #393D49; */
    background-color: #2F4056;
    padding: 20px 0 20px;

    text-align: center;
    border-bottom: var(--border-width) solid var(--accent);
    font-family: 'TT Commons',Arial,Helvetica,sans-serif;
    font-size: 1.0625rem;
    color: #ffffff;
}

.copyright {
    border-bottom: var(--border-width) solid var(--accent);
    font-family: 'TT Commons',Arial,Helvetica,sans-serif;
    font-size: 1.0625rem;
    color: #ffffff;
    margin-top: 10px;
}

.footer-url {
    color: #c2c2c2;
}


.footer-url:hover {
    color: #f2f2f2;
    text-decoration: underline;
}
