{{ define "main" }}
<main id="main">


<div class="layui-fluid list-show" >
    <div class="layui-row"> 
        <div class="layui-col-md7 layui-col-sm6 layui-col-xs12">
            <div class="list-show-title">
                <h1>This is a gallery</h1>
                <h2>Pictures I love</h2>
            </div>
        </div>
        <div class="layui-col-md5 layui-col-sm6 layui-col-xs12" style="text-align:center;">
            <img src="{{ "/self/img/undraw_quiz_nlyh.png" | relURL }}"  class="list-title-pic">
        </div>
    </div>
</div>

<div class="layui-container">
    {{ range (.Paginator 10).Pages }}
        {{ partial "article" .}}
    {{ end }}

    {{partial "pager" .}}
</div>


</main>

{{end}}
