{{ define "main" }}

<main id="main">

<div class="layui-fluid list-show" >
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
            <div class="list-show-title">
                <h1>These are my blogs</h1>
                <h2>and also my life</h2>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm12 layui-col-xs12" style="text-align:center;">
            <img src="{{ "/self/img/undraw_chat_bot_kli5.png" | relURL }}" class="list-title-pic">
        </div>
    </div>
</div>

<div class="layui-container">
    {{partial "articles" .}}
</div>

</main>

{{end}}
