<html>
    {{partial "head" .}}
<body>
{{partial "header" .}}
{{partial "nav" .}}

<div class="layui-container" style="margin-bottom: 10px">
    
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md8 layui-col-sm12 layui-col-xs12">
            <div class="layui-card single-card">
                <br />
                <blockquote class="layui-elem-quote markdown-body single-title" >
                    <h1>{{ .Title }}</h1>
                    {{partial "info" .}}
                </blockquote>
                <div class="layui-card-body markdown-body single-content">
                    {{ .Content }}
                    {{- partial "self-define.html" . -}}
                </div>
            </div>
        </div>

        <div class="layui-col-md4 layui-col-sm12 layui-col-xs12">
            <div class="layui-card single-card">
                <h1 class="single-title">Relevant Topics</h1>
                {{ $related := .Site.RegularPages.Related . | first 5 }}
                {{ with $related }}
                	{{ range . }}
                    <div style="margin-left: 10px;">
                        <blockquote class="layui-elem-quote" style="background-color:#FFFFFF;margin-top: 10px;">
                            <a href="{{.Permalink}}">
                                <h2 class="">{{.Title}}</h2>
                            </a>
                            {{partial "info" .}}
                        </blockquote>
                    </div>
                	{{ end }}
                {{ end }}
                <br />
                {{ if not $related }}
                    <h2 style="margin-left: 10px;"> No related topics </h2>
                {{end}}
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
</body>
</html>
