    <blockquote class="layui-elem-quote" style="background-color:#FFFFFF;margin-top: 10px;">
        <a href="{{.Permalink}}">
            <h2 class="">{{.Title}}</h2>
        </a>
        {{partial "info" .}}
        <h3>
        	{{ if isset .Params "description" }}
				{{ .Description }}
			{{ else if gt (len .Summary) 150 }}
				{{ slicestr .Summary 0 150 }}
            {{else if .Summary}}
                {{.Summary}}
            {{end}} ... <a href="{{.Permalink}}"><span style="color:#01AAED">Read More</span></a>
        </h3>
    </blockquote>