<h3 style="margin-top:10px; margin-bottom:10px"> 
    <i class="layui-icon layui-icon-date" style="font-size: 24px; vertical-align: -2px;"></i>
    <span>{{.Date.Format "2006-01-02"}}</span>

    <!--
    <i class="layui-icon layui-icon-read" style="font-size: 24px; vertical-align: -2px;"></i>
    <span style="vertical-align: px;">{{ .WordCount }} Words</span>
    -->
    <i class="layui-icon layui-icon-tabs" style="font-size: 22px; vertical-align: 0px;"></i>
    {{ range .Params.tags }}
        <a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}">
            <span class="layui-badge" style="vertical-align: 2px;">{{ . | title | humanize }}</span>
        </a>
    {{ end }}
</h3>