<html>
    {{partial "head" .}}
<body>
{{partial "header" .}}
{{partial "nav" .}}

<main>
<div class="layui-container">
    <div class="layui-row about">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 about_left">
            <img class="about_portrait" src="{{ .Site.Params.portrait | default "self/img/avater.jpg" }}"/>
            <h1> {{ .Site.Params.author | default "Authors"}} </h1>
            <h2> {{ .Site.Params.description | default "Intro"}} </h2>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 about_right">
            <h1>Biography</h1>
            <h2>{{ markdownify .Site.Params.Bio }}</h2>
        </div>
    </div>
</div>
</main>


{{ partial "footer" . }}
</body>
</html>