<html>
    {{partial "head" .}}
<body>
{{partial "header" .}}
{{partial "nav" .}}

<main id="main">

<div class="layui-container">


    <div class="layui-card tags-card">
        <div class="layui-card-header"><h1>Tags</h1></div>
        <div class="layui-card-body">
            {{ range .Pages }}
                <a href="{{.Permalink}}">
                    <span class="layui-badge layui-bg-blue" >{{ .Title }}</span>
                </a>
            {{end}}
        </div>
    </div>

    {{ range (.Paginator 10).Pages }}
        {{ if .Summary }}
            {{ partial "article" .}}
        {{else if .Description}}
            {{ partial "article" .}}
        {{end}}
    {{end}}

    {{partial "pager" .}}
</div>

</main>

{{ partial "footer" . }}
</body>
</html>